@import url("https://use.typekit.net/lim3rtb.css");

:root {
    --color-dark: #1B2122;
    --color-dark-alt: #242C2D;
    --color-dark-alt2: #2D3739;
    --color-dark-alt3: #415053;
    --color-light: #EBF1F1;
    --color-light-alt: #DBE6E6;
    --color-accent: #F8D593;
    --color-accent2: #8EC0BF;
    --color-accent3: #F35C55;
}

::selection {
    background: var(--color-accent2);
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-dark-alt2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark-alt3);
}

body {
    background-color: var(--color-dark-alt);
    color: var(--color-light);
    font-family: "kinesis-pro-3", serif;
}

h1 {
    font-family: "yrsa", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    color: var(--color-accent);
    text-align: center;
}

h2 {
    font-family: "yrsa", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-block-end: 0.2em;
    margin-block-start: 0.4em;
    color: var(--color-accent);
    text-align: left;
}

h3 {
    font-family: "yrsa", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-block-end: 0.2em;
    margin-block-start: 0.6em;
    color: var(--color-accent2);
    text-align: left;
}

.maindiv {
    font-family: "kinesis-pro-3", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height:1.2em;
    width: 50%;
    min-width: 800px;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
	padding-bottom:24px;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
}

.button-area {
    height: 240px;
    width: calc(100% - 12px);
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
}

.input-textbox {
    background-color: var(--color-dark);
    border: none;
    border-bottom: 1px solid var(--color-dark-alt2);
    font: 300 20px "kinesis-pro-3", serif;
    font-style: normal;
    color: var(--color-light);
    height: auto;
    width: calc(100% - 12px);
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
    outline: none;
}

.section {
    background-color: var(--color-dark-alt2);
    padding-left: 24px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 18px;
    margin-bottom: 18px;
    box-shadow: 5px 5px var(--color-dark);
    overflow: hidden;
}

.section-wrapper {
    display: flex;
}

.section-inner {
    background-color: var(--color-dark-alt2);
    padding-left: 18px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 18px;
    margin-bottom: 18px;
    flex: 1;
    box-shadow: 5px 5px var(--color-dark);
}

.navbar {
	margin-bottom: 18px;
	display:flex;
	gap:6px
}

.navbar-button {
	flex:1;
	/*text styling*/
	font-family: "yrsa", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
	color: var(--color-accent2);
	/*button styling*/
	background-color: var(--color-dark-alt2);
	border-width: 0px;
	outline: 0px;
	padding: 6px 12px;
	box-shadow: 5px 5px var(--color-dark);
}

.navbar-button.active {
	background-color: var(--color-dark-alt3)
}

.navbar-button:hover {
	background-color: var(--color-dark-alt3)
}

.media-section {
    margin-bottom: 18px;
    display:flex;
    gap:12px;
}

.media-item {
    height:auto;
    flex-grow: 1;
}

.media-item img {
    height:auto;
    width:100%;
    object-fit: fill;
    box-shadow: 5px 5px var(--color-dark);
}

/* pagecontent text styles. */
.pagecontent p {
    margin: 0px;
    margin-block-end: 12px;
    opacity: 1;
    transition: opacity 500ms;
}

.pagecontent .fade-text {
    opacity: 0;
}

.pagecontent .regular {
    font-style: normal;
}

.pagecontent .italic {
    font-style: italic;
}

.pagecontent .bold {
    font-weight: 400;
    color: var(--color-accent);
}

.pagecontent b {
    font-weight: 400;
    color: var(--color-accent);
}

.pagecontent .quote {
    font-style: italic;
    color: var(--color-accent2);
}

.pagecontent .text-light {
    opacity: 0.8;
}

.pagecontent .text-god {
    font-family: "alexander-quill", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--color-light-alt);
}

.pagecontent .text-keyword-user {
    font-weight: 700;
    color: var(--color-accent2);
}

.pagecontent .text-keyword {
    font-weight: 700;
    color: var(--color-accent2);
}

.pagecontent strong {
    font-weight: 700;
    color: var(--color-accent2);
}

.fade {
    opacity: 0;
}

/* List Styling */
ul {
    list-style: none;
    padding: 0px;
    margin: 6px 0px;
}

ul.list-plus li:before {
    content: '\002B';
    margin: 0 0.4em 0.2em 0;
}

ul.list-minus li:before {
    content: '\002D';
    margin: 0 0.4em 0.2em 0;
}

ol {
    margin: 6px 0px;
}

/* Media Styling */
.webapp-container {
	height:500px;
	outline:0;
	user-select: none;
	box-shadow: 5px 5px var(--color-dark);
}

.webapp-container * {
	outline:0;
}

.webapp-unity-container {
	height:800px;
	outline:0;
	user-select: none;
	box-shadow: 5px 5px var(--color-dark);
}

.no-outline-child * {
	outline:0;
}

.no-outline {
	outline:0;
	border:0;
}

/* UI Styling */
.nospace {
    padding: 0px;
    margin: 0px;
}
